<div class="relative mx-auto h-full w-full max-w-md">
  <div class="h-screen bg-home bg-cover bg-center">
    <div class="flex h-full flex-col items-center justify-center gap-4 bg-primary/[.85] px-5">
        <h1 class="text-center font-hellix text-4xl text-secondary">Budgetapp</h1>
        <%= link_to 'LOG IN', new_user_session_path, class:"text-normal w-full rounded  py-4 text-white bg-lightblue  group-invalid:pointer-events-none group-invalid:bg-button-default/40"%>
        <%= link_to 'SIGN UP', new_user_registration_path, class:"text-normal w-full rounded text-gray bg-button-default py-4 text-white   group-invalid:pointer-events-none group-invalid:bg-button-default/40" %>

    </div>
  </div>
</div>
